<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="ISO-8859-1">
        <title>My app</title>
    </head>

    <body>
        <p>Hello world second!</p>
        Link <a href="/first">click</a> <br><br>

        <form action = "hello">
            UserName : <input type = "text" name = "name"/> <br><br>
            Password : <input type = "text" name = "pass"/> <br><br>
            <input type = "submit" name = "submit">
        </form>
    </body>

</html>